/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 30px;
  border: 10px double #0000ff;
}
