/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.country {
  margin: -10px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.2);
}

.site-wrapper {
  height: 330px;
}
