/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.country {
  border: 1px solid red;
  padding-left: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 270px;
  height: 20px;
}
