/* Add your own CSS code below */
.link {
  color: #4491db;
  font-weight: 700;
  text-decoration: none;
}

/* created two branches and pushed them.. this push is only for illustration on branch name: Ali-Traboulsi
to show exercise completion */
