/* Add your CSS code below */
a {
  font-weight: bold;
  text-decoration: none;
  color: red;
}
.message__time {
  font-size: 0.9rem;
}
.message--unread {
  border-left: 2px solid blue;
}
.message:first-child {
  opacity: 0.5;
}
.message__content {
  padding-bottom: 3cm;
}
