/* Add your CSS code below */
.messages a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.messages .message time {
  font-size: 0.9rem;
}

.messages .message:last-child {
  border-left: 5px solid blue;
}

.messages .message:first-child {
  opacity: 0.5;
}

.message {
  line-height: 2rem;
}
