/* Write your media queries and flexbox CSS below */
@media all and (min-width: 480px) {
    .site-header__nav {
      display: flex;
      flex-direction: ;
    }
  }
  
  @media all and (min-width: 701px) {
    .site-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }
  
  @media all and (min-width: 993px) {
    .site-header {
      justify-content: space-between;
    }
  }
 