/* Add your own CSS code below */

/* 1. Made with ♥ */
#heart {
  color: #c85308;
}

/*3. Hero Text Size
Resposnive Hero Text Size
*/

@media only screen and (min-width: 992px) {
  .hero .hero__title {
    font-size: 50px;
  }
}

h2 {
  font-size: 20px;
  max-width: 85vw;
}

/*4. Navigation Menu*/
.main-nav {
  margin: 10px 0;
}
.site-header {
  display: flex;
  justify-content: space-between;
}
.site-header .main-nav .main-nav__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.main-nav .main-nav__list .main-nav__list-item,
.site-search .site-search__input {
  position: relative;
  top: 1vw;
}

.site-search svg {
  position: relative;
  bottom: 0.5vw;
}

/*   5. Header  
     Responsive Header */

@media only screen and (min-width: 767px) {
  .views {
    display: flex;
    flex-direction: row;
  }

  .view-list__item {
    margin-left: 15px;
    position: relative;
    top: -0.2vw;
  }
  .views__all {
    margin-left: auto;
  }
}

/*10. Radio Buttons*/

.radio_branch {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.radio_branch li {
  line-height: 2.5;
}

#london,
#glasgow,
#Manchester {
  transform: scale(1);
}

/*11. Text Formatting*/
.main-article {
  max-width: 50em;
  margin: 10px auto;
  line-height: 2.5;
  text-align: justify;
}
