.countries {
  display: flex;
  width: 65%;
}

/* Add your own CSS code below */
.countries--first > .country--brazil {
  order: 4;
}

.countries--second > .country--brazil {
  order: 3;
}
.countries--second > .country--uganda {
  order: 4;
}
.countries--third {
  flex-direction: row-reverse;
}
