.countries {
  display: flex;

}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--first {
  padding-left: 6%;
  justify-content: end;
  width: fit-content;

}

.countries--second {
  justify-content: space-evenly;
  width: 520px;

}

.countries--third {
  flex-direction: column;
  justify-content: flex-end;
}

.countries--fourth {
  flex-direction: column-reverse;
  justify-content: center;
  justify-content: space-evenly;
}